/*можемо вказувати тег або класс або ИД*/
body {
    /*властивість, через двокрапку аргумент*/

    background: url(shibmain.jpg)no-repeat;
    background-size: 100%;
}

/*header {
    width: 100%;
    display: flex;
    background-color: rgba(235, 103, 16, 0.6);
}

/*header img { 
    height: 55px;
} */

nav {
    margin-left: auto;
}

p {
    background-color: brown;
    width: 45%;
}

main {
    background-color: aqua;
}

footer {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: right;
    width: 11%;
    background-color: chocolate;
}

.btn {
    border: 2px solid black;
    background-color: white;
}

