/*можемо вказувати тег або класс або ИД*/
body {
    /*властивість, через двокрапку аргумент*/

    
    background-size: 100%;
}
button {
    color: rgb(255, 136, 0);
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #350606;
    font-size: 20px;
}

/*header img { 
    height: 55px;
} */

nav {
    margin-left: auto;
}

p {
    background-color: brown;
    width: 45%;
}

main {
   color: blanchedalmond;
   background: url(shibmain.jpg);
   background-repeat:no-repeat;
}

footer {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: right;
    width: 11%;
    background-color: chocolate;
}

.btn {
    border: 2px solid black;
    background-color: white;
}

.kakawka {

color:blue;
background-color:red;


}
