/*можемо вказувати тег або класс або ИД*/
body {
    /*властивість, через двокрапку аргумент*/
    background: url(solutions.png)no-repeat center;
    background-size: 70%;
}

header {
    width: 100%;
    display: flex;
    background-color: rgba(235, 103, 16, 0.6);
}

header img {
    height: 55px;
}

nav {
    margin-left: auto;
}

p {
    background-color: brown;
}


